[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ELYP"]
	path = ELYP
	url = https://github.com/cran/ELYP
[submodule "emplik"]
	path = emplik
	url = https://github.com/cran/emplik
[submodule "emplik2"]
	path = emplik2
	url = https://github.com/cran/emplik2
[submodule "emplikAUC"]
	path = emplikAUC
	url = https://github.com/cran/emplikAUC
